<a href="https://colab.research.google.com/github/robitussin/CCINCOML_EXERCISES/blob/main/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [ ]:
# put your answer here

2. Display an element

- Display the fourth element 'April' in the `month` list

In [ ]:
# put your answer here

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [ ]:
# put your answer here

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [ ]:
# put your answer here

4. List Methods

- Get the size of the month list using the `len()` method

In [ ]:
# put your answer here

- Get the element with the largest value of the month list using `max()`

In [ ]:
# put your answer here

- Get the element with the smallest value of the month list using `min()`

In [ ]:
# put your answer here

- Sort the months of the year by alphabetical order using the `sorted()` function

In [ ]:
# put your answer here

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [ ]:
# put your answer here

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [ ]:
# put your answer here

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [ ]:
# put your answer here

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [ ]:
# put your answer here

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [ ]:
# put your answer here

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [ ]:
# put your answer here

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [ ]:
# put your answer here

4. Write a for loop and use `range()` to display your firstname five times

In [ ]:
# put your answer here

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [ ]:
# put your answer here

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [ ]:
# put your answer here

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [ ]:
# put your answer here

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [ ]:
# put your answer here